{% block subject %}
    {{site.title}} - New account created
{% endblock %}

{% block body %}
<p>
    Dear {{user.first_name}},
</p>
<p>
    Someone has created an account for you with {{site.title}} ({{site.uri.public}}). Your username is <b>{{user.user_name}}</b>.
</p>
<p>
    To access your account, you must first create a password by visiting <a href="{{site.uri.public}}">{{site.title}}</a> and using the "Reset password" link on the login page.
</p>
<p>
    With regards,<br>
    The {{site.title}} Team
</p>
{% endblock %}